[class^="slide-font-scale"] {
	.font-scale {
		display: block;
		color: white;

		span {
			display: inline-block;
			vertical-align: baseline;
			margin: 0;
			color: #565455;
			transition: color 350ms ease-in-out;
			transition-delay: 1s;

			&.highlight {
				color: #565455;
			}

			&:nth-child(1) {
				font-size: calc(1.5rem * pow(1.2, 1));
				line-height: 1;
			}
			&:nth-child(2) {
				font-size: calc(1.5rem * pow(1.2, 2));
				line-height: 1;
			}
			&:nth-child(3) {
				font-size: calc(1.5rem * pow(1.2, 3));
				line-height: 1;
			}
			&:nth-child(4) {
				font-size: calc(1.5rem * pow(1.2, 4));
				line-height: 1;
			}
			&:nth-child(5) {
				font-size: calc(1.5rem * pow(1.2, 5));
				line-height: 1;
			}
			&:nth-child(6) {
				font-size: calc(1.5rem * pow(1.2, 6));
				line-height: 1;
			}
			&:nth-child(7) {
				font-size: calc(1.5rem * pow(1.2, 7));
				line-height: 1;
			}
			&:nth-child(8) {
				font-size: calc(1.5rem * pow(1.2, 8));
				line-height: 1;
			}
			&:nth-child(9) {
				font-size: calc(1.5rem * pow(1.2, 9));
				line-height: 1;
			}
			&:nth-child(10) {
				font-size: calc(1.5rem * pow(1.2, 10));
				line-height: 1;
			}
			&:nth-child(11) {
				font-size: calc(1.5rem * pow(1.2, 11));
				line-height: 1;
			}
			&:nth-child(12) {
				font-size: calc(1.5rem * pow(1.2, 12));
				line-height: 1;
			}
			&:nth-child(13) {
				font-size: calc(1.5rem * pow(1.2, 13));
				line-height: 1;
			}
			&:nth-child(14) {
				font-size: calc(1.5rem * pow(1.2, 14));
				line-height: 1;
			}
			&:nth-child(15) {
				font-size: calc(1.5rem * pow(1.2, 15));
				line-height: 1;
			}
			&:nth-child(16) {
				font-size: calc(1.5rem * pow(1.2, 16));
				line-height: 1;
			}
			&:nth-child(17) {
				font-size: calc(1.5rem * pow(1.2, 17));
				line-height: 1;
			}
		}

		&.current-fragment {
			span {
				&.highlight {
					color: white;

					&.mark {
						color: var(--color-yellow-400);
					}
				}
			}
		}
	}

	.font-scale-modern,
	.font-scale-future {
		--l: 35%;
		--r: 65%;

		.font-scale--example {
			--font-ratio: 1.25; /* major third 4:5 */
			--font-base: 1.4rem;

			display: flex;
			overflow-x: hidden;
			overflow-y: auto;
			max-height: 80vh;
			text-align: left;
			flex-flow: column;
			align-self: center;
			margin-top: -3rem;

			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p {
				margin: calc(var(--font-base) * var(--font-ratio)) 0 0;
				color: var(--colo-white-400);
			}

			h1 {
				font-size: calc(var(--font-base) * pow(var(--font-ratio), 6));
			}

			h2 {
				font-size: calc(var(--font-base) * pow(var(--font-ratio), 5));
			}

			h3 {
				font-size: calc(var(--font-base) * pow(var(--font-ratio), 4));
			}

			h4 {
				font-size: calc(var(--font-base) * pow(var(--font-ratio), 3));
			}

			h5 {
				font-size: calc(var(--font-base) * pow(var(--font-ratio), 2));
			}

			h6 {
				font-size: calc(var(--font-base) * pow(var(--font-ratio), 1));
			}

			p {
				font-size: var(--font-base);
			}
		}
	}
}

/* @at-root {
  html.print-pdf {
    .reveal {
      .slides {
        [class^='slide-font-scale'] {
          .font-scale {
            span {
              transition: none;

              &.highlight {
                color: white;

                &.mark {
                  color: var(--color-yellow-400);
                }
              }
            }
          }
        }
      }
    }
  }
} */
